@tailwind base;
@tailwind components;
@tailwind utilities;


.countdown-wrapper div span {
    font-size: 22px;
}

.countdown-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}






